In [60]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

1. ~~Figure out how to deal with one card~~
1. ~~Figure out how to loop over cards on a page~~
1. ~~Figure out how to deal with multiple pages (categories)~~
1. Turn it into one function

In [62]:
# card -> dictionary
def parse_news_card(card, category):
    output = {}
    output['category'] = category
    output['title'] = card.select_one('a.clickable').text.strip()

    card_content = card.select_one('div.news-card-content')
    output['content'] = card_content.select_one('div').text
    output['author'] = card_content.select_one('.author').text
    output['published'] = card_content.select_one('.time').attrs['content']
    
    return output

http://www.inshorts.com/en/read/business

In [63]:
# category -> list[dict]
def parse_inshorts_page(category):
    url = 'http://www.inshorts.com/en/read/' + category
    response = requests.get(url)
    soup = BeautifulSoup(response.text)
    articles = [parse_news_card(card, category) for card in soup.select('.news-card')]
    return articles

- `.append`: takes in 1 element and adds it to the list
- `.extend`: takes in a list and adds every element from the list

In [67]:
def get_news_articles():
    categories = ['business', 'sports', 'entertainment', 'technology']
    articles = []

    for category in categories:
        print(f'getting articles for {category}')
        category_articles = parse_inshorts_page(category)
        articles.extend(category_articles)

    return pd.DataFrame(articles)

In [68]:
df = get_news_articles()
df.head()

getting articles for business
getting articles for sports
getting articles for entertainment
getting articles for technology

,category,title,content,author,published
0,business,Rupee closes at all-time low of 77.50 against ...,The Indian rupee weakened further on Monday to...,Pragya Swastik,2022-05-09T15:27:43.000Z
1,business,"Bitcoin briefly drops below $30,000 for first ...","Bitcoin, in the early hours of Tuesday, fell b...",Ridham Gambhir,2022-05-10T04:33:15.000Z
2,business,Microsoft to help cover US employees' travel c...,Microsoft has said that it will cover travel c...,Ridham Gambhir,2022-05-10T03:42:26.000Z
3,business,When are you coming to deliver 1st Tesla? Payt...,Paytm CEO Vijay Shekhar Sharma took to Twitter...,Ridham Gambhir,2022-05-10T05:08:13.000Z
4,business,"After Musk's Taj Mahal tweet, his mother says ...",After Elon Musk tweeted he visited Taj Mahal i...,Apaar Sharma,2022-05-10T04:18:35.000Z