In [6]:
import re
import pandas as pd
import doctest

In [2]:
def is_vowel(s):
    return bool(re.search(r'^[aeiouAEIOU]$', s))

In [4]:
def is_valid_username(s):
    username_re = r'^[a-z][a-zA-Z0-9_]{,31}$'
    return bool(re.search(username_re, s))

In [7]:
phone_re = r'''
(?P<country_code>\+\d+)?
\D*
(?P<area_code>\d{3})?
\D*
(?P<exchange_code>\d{3})
\D*
(?P<last_four>\d{4})$
'''

numbers = pd.Series([
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309',
], name='original')

pd.concat([numbers, numbers.str.extract(phone_re, re.VERBOSE)], axis=1)

          original country_code area_code exchange_code last_four
0   (210) 867 5309          NaN       210           867      5309
1  +1 210.867.5309           +1       210           867      5309
2         867-5309          NaN       NaN           867      5309
3     210-867-5309          NaN       210           867      5309

In [13]:
numbers = [
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309',
]
subject = numbers[0]

match = re.search(phone_re, subject, re.VERBOSE)
match.groups()
match.groupdict()

{'country_code': None,
 'area_code': '210',
 'exchange_code': '867',
 'last_four': '5309'}

In [5]:
dates = pd.Series([
    '02/04/19',
    '02/05/19',
    '02/06/19',
    '02/07/19',
    '02/08/19',
    '02/09/19',
    '02/10/19',
])
dates.str.replace(r'(\d+)/(\d+)/(\d+)', r'20\3-\1-\2', regex=True)

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

In [15]:
logfile_re = r'''
^(?P<method>GET|POST)
\s+
(?P<path>.*?)
\s+
\[(?P<timestamp>.*?)\]
\s+
(?P<http_version>.*?)
\s+
\{(?P<status>\d+)\}
\s+
(?P<bytes_sent>\d+)
\s+
"(?P<user_agent>.*)$
'''

lines = pd.Series([
    'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
    'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
    'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58',
])
lines.str.extract(logfile_re, re.VERBOSE)

,method,path,timestamp,http_version,status,bytes_sent,user_agent
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,"python-requests/2.21.0"" 97.105.19.58"
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,"python-requests/2.21.0"" 97.105.19.58"

In [28]:
df = pd.read_csv('/usr/share/dict/words', header=None)
df.columns = ['word']
df = df.dropna()
df[df.word.str.contains(r'([^aeiou]){7,}', regex=True)]

/var/folders/5m/hv7mb0z95vnfhz0xb0s_rxym0000gn/T/ipykernel_10269/1256683567.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df[df.word.str.contains(r'([^aeiou]){7,}', regex=True)]

                         word
1286            acetylglycine
1287          acetylhydrazine
1298    acetylphenylhydrazine
1303             acetylthymol
5675            allorrhythmic
...                       ...
221980             unrhythmic
221981           unrhythmical
221982         unrhythmically
223836         unsynchronized
223837          unsynchronous

[157 rows x 1 columns]

In [34]:
df[df.word.apply(lambda word: word == word[::-1]) & (df.word.apply(len) > 4)]

           word
4483      ajaja
4612      alala
6116      alula
7735      anana
12302     arara
36881     civic
49800   deedeed
50117    degged
81876    hallah
100990   kakkak
101364    kayak
101473    kelek
105483    lemel
106102    level
109835    madam
114270    mesem
116585    minim
120902  murdrum
162508    radar
165057   redder
165469    refer
167007  repaper
168694   retter
168831    rever
168978  reviver
171068  rotator
171091    rotor
182109    siris
185059  sooloos
199127   tebbet
199954    tenet
200429   terret
210534    ululu
234413    yaray